.raibowline{
  width:                   100%;
  height:                  2px;
  margin: auto;
  background-repeat:repeat-x;
	background: linear-gradient(to right,
	#eb5252,
	#f78f2f,
	#f4c151,
	#75d850,
	// #6284FF,
	#eb5252
 	);
}
.example-spacer {
  flex: 1 1 auto;
}
