<div style="margin: 15px">
  <mat-slide-toggle [(ngModel)]="isShuffle">シャッフル&nbsp;&nbsp;&nbsp;</mat-slide-toggle>
  <button
    mat-mini-fab
    color="accent"
    (click)="openDialog()"
    aria-label="問題をリセット"
    title="問題をリセット"
  >
    <i class="fas fa-retweet"></i>
  </button>
  <hr />

  @for (toi of questions; track toi.chapter; let i = $index) {
    @if (toi.chapter !== '') {
      <h3>
        <span [id]="'question-label-' + i">問題{{ i + 1 }}.</span>
      </h3>
      <h5>{{ toi.chapter }}</h5>
      <div class="form-check horizontal-list">
        @if (toi.multi === undefined) {
          <mat-radio-group
            aria-labelledby="toi"
            class="example-radio-group"
            [(ngModel)]="selectItem[i]"
          >
            @for (item of toi.items; track item.val) {
              <mat-radio-button
                class="example-radio-button"
                [value]="item.val"
              >
                {{ item.val + 1 }}. {{ item.name }}
              </mat-radio-button>
            }
            <br />
          </mat-radio-group>
        }

        @if (toi.multi === true) {
          <app-checkbox
            [check]="toi"
            (isSelected)="checkSelectItem($event, i)"
            (isExact)="setKaitou($event, i )"
          >
          </app-checkbox>
          <br />
        }
      </div>

      <button mat-raised-button color="primary" (click)="myCheck(i)">解答</button>
      <button mat-raised-button color="accent">{{ kaitou[i] }}</button>
      @if (finished[i] === true) {
        <app-tips [tips]="toi"></app-tips>
      }
      <hr />
    }
  }
</div>
