
<div style="margin: 15px">
  <!-- <i class="fa fa-random" aria-hidden="true"></i> -->
  <mat-slide-toggle [(ngModel)]="isShuffle">シャッフル&nbsp;&nbsp;&nbsp;</mat-slide-toggle>
  <button mat-mini-fab  color="accent" (click)="openDialog()">
    <i class="fas fa-retweet"></i>
  </button>
  <!-- 下線 -->
  <hr />
  <div *ngFor="let toi of questions; let i = index">

    <div *ngIf="toi.chapter !==''">
      <h3>
        <label id="toi">問題{{ i + 1 }}.</label>
      </h3>
      <h5>{{ toi.chapter }}</h5>
      <!-- 選択肢（ラジオボタン） -->
      <div class="form-check horizontal-list">
        <mat-radio-group
          aria-labelledby="toi"
          class="example-radio-group"
          [(ngModel)]="selectItem[i]"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let item of toi.items"
            [value]="item.val"
          >
            {{ item.val + 1 }}.  {{ item.name }}
            <!-- end loop -->
          </mat-radio-button>
          <br />
        </mat-radio-group>
      </div>
      <!-- 回答・答えボタン -->
      <button mat-raised-button color="primary" (click)="myCheck()">回答</button>
      <button mat-raised-button  color="accent">{{ kaitou[i] }}</button>
      <!-- 解説 -->
      <div *ngIf="finished[i] === true">
        <app-tips [tips]="toi"></app-tips>
      </div>
      <!-- 下線 -->
      <hr />
    </div>
    <!-- end loop -->
  </div>
</div>
